<h3>Cart</h3>

<p>
    <a routerLink="/shipping"> Shipping Prices </a>
</p>

<div class="cart-item" *ngFor="let item of items">
    <span>{{ item.name}}</span>
    <span>{{ item.price | currency}}</span>
</div>

<div class="container">
    <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">

        <div>
            <label for="name">
                <input id="name" type="text" formControlName="name" placeholder="Name">
            </label>
        </div>

        <div>
            <label for="address">
                <input id="address" type="text" formControlName="address" placeholder="Address">
            </label>
        </div>

        <button class="button" type="submit">Purchese</button>

    </form>
</div>