<h3>Cart</h3>

<p>
    <a [routerLink]="['/shipping/:shppingId']">
        <h4>Shiping Cost</h4>
    </a>
</p>

<div class="cart-item" *ngFor="let item of items">
    <span>{{ item.name}}</span>
    <span>{{ item.price | currency}}</span>
</div>


<div class="cart-item" *ngFor="let item of item">
    <span>{{ item.type}}</span>
    <span>{{ item.price | currency}}</span>
</div>

<div class="container">
    <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">

        <div>
            <label for="name">
                <input id="name" type="text" formControlName="name" placeholder="Name">
            </label>
        </div>

        <div>
            <label for="address">
                <input id="address" type="text" formControlName="address" placeholder="Address">
            </label>
        </div>
        //ponerle funcion para que envie el correo
        <button class="button" type="submit">Purchese</button>
        <button class="button" type="submit" [routerLink]="['/']">atras</button>
    </form>
</div>